body {
    background-image: url('spaceblue.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: repeat; 
    color: black; 
}



a:hover {
    text-decoration: underline; 
}
